
*{
	margin: 0;
	padding: 0;
}
html{
	box-sizing: border-box;
	background-color: #f2f3f3;
}

h1{
	font-size: 48px;
	color: orange;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

h2{
	font-size: 32px;
	color: teal;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 20px;
}

header {
	border-bottom: 1px solid grey;
}


.principal{
	margin: auto;
	max-width: 880px;
}

.principal img {
	width: 100%;
}

.container{
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	height: 100%;
	border: 4px solid grey;
}
.numero{
	background: #fe5c00;
	display: flex;
	/*align-items: center;*/
	flex-direction: column;
	justify-content: center;
	width: 20%;
}
.nume {
	text-align: center;
	font-size: 48px;
	color: #020df1; 
	text-indent: 0px;
}
.contenido{
	margin-left: 20px;
	margin-right: 20px;
	width: 80%;
}


p{
	text-align: justify;
	font-size: 22px;
	margin-top: 18px;
	margin-bottom: 18px;
	color: #424949;
	text-indent: 18px;
}

a{
	text-decoration: underline;
	color: #424949;
}

footer {
	padding-top: 35px;
	padding-bottom: 35px;
}